<%= @post.title %>
<%= @post.content %>
<ul>
  Comments:<% @post.comments.each do |comment| %>
  <li> <%= comment.user.username %> says: <%= comment.content %></li>
  <% end %>

  Users who have commented: <% @post.users.uniq.each do |user| %>
  <%= link_to user.username, user_path(user) %>
  <% end %>

  Add a comment below:
  <%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, :value => @post.id %>
  <%= f.label :user_id, "Select Existing User" %>
  <%= f.collection_select :user_id, User.all, :id, :username, :options => {include_blank: true} %><br>

  <%= f.fields_for :user_attributes, @post.users.build do |user_fields| %>
    <%= user_fields.label :username, "Create a new user" %>
    <%= user_fields.text_field :username %><br>
  <% end %>
  <%= f.label :content, "Your Comment" %>
  <%= f.text_area :content %>
  <%= f.submit %>
  <% end %>
</ul>
